## Consigna

Columna “reservation_status_date” (CARLA)

- Limpieza y transformación: 
    -  Esta columna es de tipo object y deberíamos pasarla a tipo date. Para poder hacerlo, vamos a necesitar unificar el formato en el que aparecen las fechas (en algunos casos tienen guiones y en otros barras).
    - Hay 30 filas con fechas posteriores a 2017. En principio no nos preocupa mucho por tratarse de un porcentaje muy pequeño. Intentaremos corregirlo teniendo en cuenta las columnas que tienen información de la fecha de arrival. 

- Imputación: 
    - Completar a partir de “arrival _date_year”
    - El resto imputarlas con KNN o iterative.

## Exploración y análisis

In [1]:
# importar librerías 

import pandas as pd
import numpy as np

In [2]:
# guardar datos en un dataframe

df = pd.read_csv("data/finanzas_hotel_bookings.csv", index_col=0)

/tmp/ipykernel_6155/1059111946.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/finanzas_hotel_bookings.csv", index_col=0)

In [37]:
# definir una función para explorar las caraterísticas de una columna rápidamente

def quick_check(df, column_name):
        """ This function is for testing purposes, to quicky check data type and unique values of a column"""
        print (f"\nColumn name: {column_name}")
        print (f"\nData type: {df[column_name].dtype}")
        print (f"\nNot null count: {df[column_name].notnull().sum()}")
        print (f"\nNull count: {df[column_name].isnull().sum()}, {round(df[column_name].isnull().sum()/df.shape[0]*100)}%")
        print (f"\nDuplicated values: {df[column_name].duplicated().sum()}")
        print (f"\nUnique values: \n{df[column_name].unique()}")
        print (f"\nValue counts: \n{df[column_name].value_counts()}")

In [15]:
# revisar la columna "reservation_status_date"

quick_check(df,"reservation_status_date")

Column name: reservation_status_date

Data type: object

Not null count: 106514

Null count: 76363, 42%

Duplicated values: 181885

Unique values:
['2015-07-01 00:00:00' '2015-07-02 00:00:00' '2015-07-03 00:00:00'
 '2015-05-06 00:00:00' '2015-04-22 00:00:00' '2015-06-23 00:00:00'
 '2015-07-05 00:00:00' nan '2015-07-07 00:00:00' '2015-07-08 00:00:00'
 '2015-05-11 00:00:00' '2015-07-15 00:00:00' '2015-07-16 00:00:00'
 '2015-05-29 00:00:00' '2015-05-19 00:00:00' '2015-06-19 00:00:00'
 '2015-07-06 00:00:00' '2015-05-23 00:00:00' '2015-05-18 00:00:00'
 '2015-07-09 00:00:00' '2015-06-02 00:00:00' '2015-07-04 00:00:00'
 '2015-06-29 00:00:00' '2015-06-16 00:00:00' '2015-06-18 00:00:00'
 '2015-06-12 00:00:00' '2015-06-09 00:00:00' '2015-05-26 00:00:00'
 '2015-07-11 00:00:00' '2015-07-12 00:00:00' '2015-07-13 00:00:00'
 '2015-07-17 00:00:00' '2015-04-15 00:00:00' '2015-05-13 00:00:00'
 '2015-07-10 00:00:00' '2015-05-20 00:00:00' '2015-05-12 00:00:00'
 '2015-07-14 00:00:00' '2015-06-17 00:00:00' '2015-05-01 00:00:00'
 '2015-07-19 00:00:00' '2015-06-03 00:00:00' '2015-06-26 00:00:00'
 '2015-05-14 00:00:00' '2015-07-20 00:00:00' '2015-05-07 00:00:00'
 '2015-05-28 00:00:00' '2015-04-13 00:00:00' '2015-03-25 00:00:00'
 '2015-07-21 00:00:00' '2015-06-27 00:00:00' '2015-07-18 00:00:00'
 '2015-07-23 00:00:00' '2015-06-08 00:00:00' '2030-02-30'
 '2015-03-05 00:00:00' '2015-06-22 00:00:00' '2015-04-24 00:00:00'
 '2015-07-22 00:00:00' '2015-05-27 00:00:00' '2015-04-06 00:00:00'
 '2015-04-11 00:00:00' '2015-07-25 00:00:00' '2015-07-28 00:00:00'
 '2015-07-29 00:00:00' '2015-07-24 00:00:00' '2015-06-30 00:00:00'
 '2015-06-24 00:00:00' '2015-07-27 00:00:00' '2015-04-29 00:00:00'
 '2015-06-04 00:00:00' '2015-06-11 00:00:00' '2015-06-01 00:00:00'
 '2015-07-26 00:00:00' '2015-08-01 00:00:00' '2015-08-02 00:00:00'
 '2015-06-15 00:00:00' '2015-04-23 00:00:00' '2015-07-30 00:00:00'
 '2015-07-31 00:00:00' '2015-06-05 00:00:00' '2015-05-25 00:00:00'
 '2015-08-03 00:00:00' '2015-04-17 00:00:00' '2015-08-04 00:00:00'
 '2015-08-06 00:00:00' '2015-05-15 00:00:00' '2015-06-25 00:00:00'
 '2015-05-09 00:00:00' '2015-03-17 00:00:00' '2015-05-22 00:00:00'
 '2015-08-07 00:00:00' '2015-04-04 00:00:00' '2015-08-05 00:00:00'
 '2015-08-08 00:00:00' '2015-08-10 00:00:00' '2015-05-04 00:00:00'
 '2015-06-06 00:00:00' '2015-08-09 00:00:00' '2015-08-15 00:00:00'
 '2015-08-11 00:00:00' '2015-03-28 00:00:00' '2015-08-14 00:00:00'
 '2015-08-12 00:00:00' '2015-08-16 00:00:00' '2015-08-21 00:00:00'
 '2015-08-13 00:00:00' '2015-08-17 00:00:00' '2015-04-20 00:00:00'
 '2015-08-18 00:00:00' '2015-08-23 00:00:00' '2015-08-22 00:00:00'
 '2015-08-19 00:00:00' '2015-08-20 00:00:00' '2015-08-29 00:00:00'
 '2015-03-31 00:00:00' '2015-05-30 00:00:00' '2015-08-25 00:00:00'
 '2015-08-24 00:00:00' '2015-03-24 00:00:00' '2015-05-21 00:00:00'
 '2015-08-28 00:00:00' '2015-08-26 00:00:00' '2015-08-27 00:00:00'
 '2015-08-30 00:00:00' '2015-08-31 00:00:00' '2015-09-06 00:00:00'
 '2015-09-03 00:00:00' '2015-09-04 00:00:00' '2015-09-02 00:00:00'
 '2015-09-01 00:00:00' '2015-09-05 00:00:00' '2015-06-20 00:00:00'
 '2015-09-07 00:00:00' '2015-09-10 00:00:00' '2015-09-11 00:00:00'
 '2015-09-08 00:00:00' '2015-09-09 00:00:00' '2015-09-13 00:00:00'
 '2015-09-15 00:00:00' '2015-04-10 00:00:00' '2015-01-02 00:00:00'
 '2014-11-18 00:00:00' '2015-09-12 00:00:00' '2015-09-17 00:00:00'
 '2015-09-14 00:00:00' '2015-04-07 00:00:00' '2015-09-19 00:00:00'
 '2015-09-16 00:00:00' '2015-09-20 00:00:00' '2015-01-18 00:00:00'
 '2015-10-23 00:00:00' '2015-01-22 00:00:00' '2015-01-01 00:00:00'
 '2015-09-22 00:00:00' '2015-09-24 00:00:00' '2015-09-18 00:00:00'
 '2015-09-21 00:00:00' '2015-09-25 00:00:00' '2015-09-27 00:00:00'
 '2015-09-28 00:00:00' '2015-10-12 00:00:00' '2015-06-13 00:00:00'
 '2015-09-29 00:00:00' '2015-09-23 00:00:00' '2015-10-01 00:00:00'
 '2015-09-26 00:00:00' '2015-04-18 00:00:00' '2015-09-30 00:00:00'
 '2015-10-02 00:00:00' '2015-10-04 00:00:00' '2015-10-08 00:00:00'
 '2015-10-03 00:00:00' '2015-10-09 00:00:00' '2015-10-11 00:00:00'
 '2015-10-05 00:00:00' '2015-10-10 00:00:00' '2015-10-06 00:00:00'
 '2015-10-07 00:00:00' '2015-10-14 00:00:00' '2015-10-15 00:00:00'
 '2015-10-18 00:00:00' '2015-10-13 00:00:00' '2015-10-20 00:00:00'
 '2015-10-19 00:00:00' '2015-10-31 00:00:00' '2015-10-16 00:00:00'
 '2015-10-21 00:00:00' '2015-10-22 00:00:00' '2015-10-17 00:00:00'
 '2015-10-24 00:00:00' '2015-10-25 00:00:00' '2015-10-28 00:00:00'
 '2015-10-27 00:00:00' '2015-10-26 00:00:00' '2015-10-30 00:00:00'
 '2015-11-05 00:00:00' '2015-10-29 00:00:00' '2015-11-03 00:00:00'
 '2015-11-07 00:00:00' '2015-11-04 00:00:00' '2015-11-01 00:00:00'
 '2015-11-17 00:00:00' '2015-11-02 00:00:00' '2015-11-06 00:00:00'
 '2015-11-08 00:00:00' '2015-11-09 00:00:00' '2015-11-10 00:00:00'
 '2015-11-15 00:00:00' '2015-11-16 00:00:00' '2015-11-11 00:00:00'
 '2015-11-12 00:00:00' '2015-11-14 00:00:00' '2015-11-13 00:00:00'
 '2015-11-18 00:00:00' '2015-11-22 00:00:00' '2015-11-21 00:00:00'
 '2015-11-20 00:00:00' '2015-11-24 00:00:00' '2015-11-25 00:00:00'
 '2015-11-23 00:00:00' '2015-11-28 00:00:00' '2015-11-26 00:00:00'
 '2015-11-19 00:00:00' '2015-11-27 00:00:00' '2015-11-29 00:00:00'
 '2015-12-04 00:00:00' '2015-12-01 00:00:00' '2015-12-06 00:00:00'
 '2015-12-08 00:00:00' '2015-12-02 00:00:00' '2015-12-03 00:00:00'
 '2015-12-31 00:00:00' '2015-12-05 00:00:00' '2015-12-10 00:00:00'
 '2015-12-17 00:00:00' '2015-11-30 00:00:00' '2015-12-12 00:00:00'
 '2015-12-07 00:00:00' '2015-12-13 00:00:00' '2015-12-15 00:00:00'
 '2015-12-16 00:00:00' '2015-12-19 00:00:00' '2015-12-18 00:00:00'
 '2015-12-26 00:00:00' '2015-12-27 00:00:00' '2016-01-05 00:00:00'
 '2015-12-22 00:00:00' '2015-12-24 00:00:00' '2015-12-29 00:00:00'
 '2015-12-20 00:00:00' '2015-12-23 00:00:00' '2015-12-30 00:00:00'
 '2016-01-02 00:00:00' '2016-01-01 00:00:00' '2015-12-28 00:00:00'
 '2015-12-25 00:00:00' '2016-01-03 00:00:00' '2016-01-04 00:00:00'
 '2016-01-11 00:00:00' '2016-01-07 00:00:00' '2015-12-21 00:00:00'
 '2016-01-09 00:00:00' '2016-01-10 00:00:00' '2016-01-08 00:00:00'
 '2016-01-06 00:00:00' '2016-01-12 00:00:00' '2016-01-13 00:00:00'
 '2016-01-23 00:00:00' '2016-01-15 00:00:00' '2016-01-16 00:00:00'
 '2016-01-17 00:00:00' '2016-01-19 00:00:00' '2016-01-18 00:00:00'
 '2016-01-21 00:00:00' '2016-01-24 00:00:00' '2016-01-22 00:00:00'
 '2016-01-29 00:00:00' '2016-01-27 00:00:00' '2016-01-25 00:00:00'
 '2016-03-08 00:00:00' '2016-01-26 00:00:00' '2016-01-20 00:00:00'
 '2016-01-30 00:00:00' '2016-02-01 00:00:00' '2016-02-08 00:00:00'
 '2016-02-07 00:00:00' '2016-01-28 00:00:00' '2016-02-05 00:00:00'
 '2016-02-03 00:00:00' '2016-02-09 00:00:00' '2016-02-13 00:00:00'
 '2016-02-10 00:00:00' '2016-02-02 00:00:00' '2016-02-04 00:00:00'
 '2016-02-12 00:00:00' '2016-02-11 00:00:00' '2016-02-16 00:00:00'
 '2016-02-14 00:00:00' '2015-12-11 00:00:00' '2016-02-20 00:00:00'
 '2016-02-15 00:00:00' '2016-02-06 00:00:00' '2016-01-14 00:00:00'
 '2016-02-17 00:00:00' '2016-02-21 00:00:00' '2016-02-24 00:00:00'
 '2016-02-25 00:00:00' '2016-02-19 00:00:00' '2016-02-18 00:00:00'
 '2016-02-26 00:00:00' '2016-02-23 00:00:00' '2016-03-05 00:00:00'
 '2016-02-22 00:00:00' '2016-02-27 00:00:00' '2016-03-03 00:00:00'
 '2016-03-24 00:00:00' '2016-02-29 00:00:00' '2016-03-01 00:00:00'
 '2016-03-02 00:00:00' '2016-03-30 00:00:00' '2016-03-04 00:00:00'
 '2016-03-07 00:00:00' '2016-03-14 00:00:00' '2016-03-21 00:00:00'
 '2016-03-09 00:00:00' '2016-03-12 00:00:00' '2016-03-22 00:00:00'
 '2016-03-10 00:00:00' '2016-03-11 00:00:00' '2016-03-20 00:00:00'
 '2016-03-15 00:00:00' '2016-03-17 00:00:00' '2016-03-16 00:00:00'
 '2016-03-19 00:00:00' '2016-03-27 00:00:00' '2016-03-18 00:00:00'
 '2016-03-26 00:00:00' '2016-03-31 00:00:00' '2016-03-28 00:00:00'
 '2016-03-29 00:00:00' '2016-04-01 00:00:00' '2016-03-23 00:00:00'
 '2016-04-02 00:00:00' '2016-03-25 00:00:00' '2016-03-13 00:00:00'
 '2016-04-04 00:00:00' '2016-04-03 00:00:00' '2016-04-05 00:00:00'
 '2016-04-08 00:00:00' '2016-04-06 00:00:00' '2016-04-09 00:00:00'
 '2016-04-12 00:00:00' '2016-04-16 00:00:00' '2016-04-17 00:00:00'
 '2016-04-14 00:00:00' '2016-04-18 00:00:00' '2016-04-21 00:00:00'
 '2016-04-19 00:00:00' '2016-04-20 00:00:00' '2016-04-10 00:00:00'
 '2016-04-13 00:00:00' '2016-04-11 00:00:00' '2016-04-07 00:00:00'
 '2016-04-15 00:00:00' '2016-04-22 00:00:00' '2016-04-23 00:00:00'
 '2016-04-26 00:00:00' '2016-04-28 00:00:00' '2016-04-24 00:00:00'
 '2016-04-25 00:00:00' '2016-04-29 00:00:00' '2016-04-30 00:00:00'
 '2016-05-10 00:00:00' '2016-04-27 00:00:00' '2016-05-02 00:00:00'
 '2016-05-07 00:00:00' '2016-05-08 00:00:00' '2016-05-12 00:00:00'
 '2016-05-01 00:00:00' '2016-05-04 00:00:00' '2016-05-06 00:00:00'
 '2016-05-03 00:00:00' '2016-05-09 00:00:00' '2016-05-05 00:00:00'
 '2016-05-13 00:00:00' '2016-05-14 00:00:00' '2016-05-18 00:00:00'
 '2016-05-19 00:00:00' '2016-05-15 00:00:00' '2016-05-16 00:00:00'
 '2016-05-11 00:00:00' '2016-05-21 00:00:00' '2016-05-22 00:00:00'
 '2016-05-20 00:00:00' '2016-05-24 00:00:00' '2016-05-26 00:00:00'
 '2016-05-23 00:00:00' '2016-05-27 00:00:00' '2016-05-17 00:00:00'
 '2016-05-25 00:00:00' '2016-05-29 00:00:00' '2016-05-28 00:00:00'
 '2016-05-30 00:00:00' '2016-05-31 00:00:00' '2016-06-01 00:00:00'
 '2016-06-03 00:00:00' '2016-06-08 00:00:00' '2016-06-02 00:00:00'
 '2016-06-05 00:00:00' '2016-06-06 00:00:00' '2016-06-13 00:00:00'
 '2016-06-07 00:00:00' '2016-06-10 00:00:00' '2016-06-11 00:00:00'
 '2016-06-12 00:00:00' '2016-06-14 00:00:00' '2016-06-17 00:00:00'
 '2016-06-04 00:00:00' '2016-06-16 00:00:00' '2016-06-18 00:00:00'
 '2016-06-21 00:00:00' '2016-06-09 00:00:00' '2016-06-24 00:00:00'
 '2016-06-20 00:00:00' '2016-06-25 00:00:00' '2016-06-22 00:00:00'
 '2016-06-26 00:00:00' '2016-06-23 00:00:00' '2016-07-01 00:00:00'
 '2016-06-15 00:00:00' '2016-06-28 00:00:00' '2016-07-02 00:00:00'
 '2016-06-19 00:00:00' '2016-06-27 00:00:00' '2016-07-04 00:00:00'
 '2016-06-30 00:00:00' '2016-07-05 00:00:00' '2016-07-08 00:00:00'
 '2016-07-09 00:00:00' '2016-07-07 00:00:00' '2016-07-12 00:00:00'
 '2016-06-29 00:00:00' '2016-07-10 00:00:00' '2016-07-15 00:00:00'
 '2016-07-03 00:00:00' '2016-07-16 00:00:00' '2016-07-14 00:00:00'
 '2016-07-18 00:00:00' '2016-07-13 00:00:00' '2016-07-06 00:00:00'
 '2016-07-21 00:00:00' '2016-07-19 00:00:00' '2016-07-11 00:00:00'
 '2016-07-20 00:00:00' '2016-07-28 00:00:00' '2016-07-17 00:00:00'
 '2016-07-25 00:00:00' '2016-07-22 00:00:00' '2016-07-23 00:00:00'
 '2016-07-29 00:00:00' '2016-08-03 00:00:00' '2016-08-02 00:00:00'
 '2016-08-04 00:00:00' '2016-08-08 00:00:00' '2016-08-10 00:00:00'
 '2016-08-01 00:00:00' '2016-08-06 00:00:00' '2016-03-06 00:00:00'
 '2016-08-05 00:00:00' '2016-07-26 00:00:00' '2016-08-07 00:00:00'
 '2016-07-24 00:00:00' '2016-08-12 00:00:00' '2016-07-27 00:00:00'
 '2016-08-13 00:00:00' '2016-08-18 00:00:00' '2016-08-16 00:00:00'
 '2016-08-15 00:00:00' '2016-08-17 00:00:00' '2016-08-11 00:00:00'
 '2016-07-31 00:00:00' '2016-07-30 00:00:00' '2030-11-31'
 '2016-09-01 00:00:00' '2016-08-23 00:00:00' '2016-08-20 00:00:00'
 '2016-08-21 00:00:00' '2016-09-04 00:00:00' '2016-08-22 00:00:00'
 '2016-08-27 00:00:00' '2016-08-25 00:00:00' '2016-08-09 00:00:00'
 '2016-08-26 00:00:00' '2016-09-05 00:00:00' '2016-08-24 00:00:00'
 '2016-09-10 00:00:00' '2016-08-29 00:00:00' '2016-09-09 00:00:00'
 '2016-08-30 00:00:00' '2016-08-19 00:00:00' '2016-09-13 00:00:00'
 '2016-08-31 00:00:00' '2016-09-12 00:00:00' '2016-09-15 00:00:00'
 '2016-08-14 00:00:00' '2016-09-02 00:00:00' '2016-09-14 00:00:00'
 '2016-09-08 00:00:00' '2016-09-19 00:00:00' '2016-09-16 00:00:00'
 '2016-09-07 00:00:00' '2016-09-21 00:00:00' '2016-09-06 00:00:00'
 '2016-09-22 00:00:00' '2016-09-17 00:00:00' '2016-09-20 00:00:00'
 '2016-09-03 00:00:00' '2016-09-26 00:00:00' '2016-09-23 00:00:00'
 '2016-09-18 00:00:00' '2016-10-02 00:00:00' '2016-10-01 00:00:00'
 '2016-09-27 00:00:00' '2016-09-25 00:00:00' '2016-10-05 00:00:00'
 '2016-09-11 00:00:00' '2016-09-30 00:00:00' '2016-10-09 00:00:00'
 '2016-10-03 00:00:00' '2016-10-06 00:00:00' '2016-10-11 00:00:00'
 '2016-09-24 00:00:00' '2016-09-29 00:00:00' '2016-10-13 00:00:00'
 '2016-09-28 00:00:00' '2016-10-08 00:00:00' '2016-10-07 00:00:00'
 '2016-08-28 00:00:00' '2016-10-17 00:00:00' '2016-10-18 00:00:00'
 '2016-10-10 00:00:00' '2016-10-16 00:00:00' '2016-10-04 00:00:00'
 '2016-10-15 00:00:00' '2016-10-19 00:00:00' '2016-10-21 00:00:00'
 '2016-10-12 00:00:00' '2016-10-24 00:00:00' '2016-10-26 00:00:00'
 '2016-10-23 00:00:00' '2016-10-20 00:00:00' '2016-10-25 00:00:00'
 '2016-10-27 00:00:00' '2016-10-28 00:00:00' '2016-10-30 00:00:00'
 '2016-10-29 00:00:00' '2029-04-31' '2016-11-01 00:00:00'
 '2016-11-04 00:00:00' '2016-10-14 00:00:00' '2016-11-07 00:00:00'
 '2016-11-03 00:00:00' '2016-11-10 00:00:00' '2016-11-14 00:00:00'
 '2016-11-02 00:00:00' '2016-10-31 00:00:00' '2016-11-11 00:00:00'
 '2016-11-08 00:00:00' '2016-11-05 00:00:00' '2016-11-25 00:00:00'
 '2016-11-09 00:00:00' '2016-11-20 00:00:00' '2016-11-21 00:00:00'
 '2016-10-22 00:00:00' '2016-11-22 00:00:00' '2016-11-16 00:00:00'
 '2016-11-23 00:00:00' '2016-11-17 00:00:00' '2016-11-06 00:00:00'
 '2016-11-15 00:00:00' '2016-11-13 00:00:00' '2016-11-12 00:00:00'
 '2016-11-27 00:00:00' '2016-11-19 00:00:00' '2016-11-30 00:00:00'
 '2016-12-02 00:00:00' '2030-06-31' '2016-12-04 00:00:00'
 '2016-11-29 00:00:00' '2016-12-07 00:00:00' '2016-11-28 00:00:00'
 '2016-12-03 00:00:00' '2016-12-06 00:00:00' '2016-11-24 00:00:00'
 '2016-12-08 00:00:00' '2016-12-05 00:00:00' '2016-12-10 00:00:00'
 '2016-11-18 00:00:00' '2016-12-13 00:00:00' '2016-12-14 00:00:00'
 '2016-12-16 00:00:00' '2016-12-15 00:00:00' '2016-12-17 00:00:00'
 '2016-12-19 00:00:00' '2016-12-21 00:00:00' '2016-12-20 00:00:00'
 '2016-12-22 00:00:00' '2016-12-23 00:00:00' '2016-12-24 00:00:00'
 '2016-12-01 00:00:00' '2016-12-27 00:00:00' '2016-12-29 00:00:00'
 '2016-12-30 00:00:00' '2016-12-12 00:00:00' '2017-01-02 00:00:00'
 '2016-12-11 00:00:00' '2017-01-04 00:00:00' '2017-01-01 00:00:00'
 '2016-12-26 00:00:00' '2017-01-06 00:00:00' '2016-12-28 00:00:00'
 '2016-12-18 00:00:00' '2017-01-10 00:00:00' '2017-01-11 00:00:00'
 '2017-01-07 00:00:00' '2017-01-12 00:00:00' '2017-01-16 00:00:00'
 '2017-01-14 00:00:00' '2017-01-13 00:00:00' '2017-01-05 00:00:00'
 '2017-01-03 00:00:00' '2017-01-17 00:00:00' '2016-12-09 00:00:00'
 '2017-01-20 00:00:00' '2017-01-26 00:00:00' '2016-12-31 00:00:00'
 '2017-01-23 00:00:00' '2017-01-28 00:00:00' '2017-01-19 00:00:00'
 '2017-01-27 00:00:00' '2017-01-25 00:00:00' '2017-01-24 00:00:00'
 '2017-01-29 00:00:00' '2017-01-18 00:00:00' '2016-12-25 00:00:00'
 '2017-01-15 00:00:00' '2017-01-21 00:00:00' '2017-02-01 00:00:00'
 '2017-02-02 00:00:00' '2017-01-31 00:00:00' '2017-02-03 00:00:00'
 '2017-02-04 00:00:00' '2017-02-06 00:00:00' '2017-02-07 00:00:00'
 '2017-02-08 00:00:00' '2017-01-30 00:00:00' '2017-02-09 00:00:00'
 '2017-01-09 00:00:00' '2017-02-11 00:00:00' '2017-02-10 00:00:00'
 '2017-02-12 00:00:00' '2017-02-13 00:00:00' '2017-02-14 00:00:00'
 '2017-02-16 00:00:00' '2017-02-17 00:00:00' '2017-02-18 00:00:00'
 '2017-02-19 00:00:00' '2017-02-20 00:00:00' '2017-02-15 00:00:00'
 '2017-02-21 00:00:00' '2017-02-22 00:00:00' '2017-02-26 00:00:00'
 '2017-02-23 00:00:00' '2017-02-24 00:00:00' '2017-02-25 00:00:00'
 '2017-02-28 00:00:00' '2017-03-05 00:00:00' '2017-02-27 00:00:00'
 '2017-03-03 00:00:00' '2017-03-06 00:00:00' '2017-03-02 00:00:00'
 '2017-03-08 00:00:00' '2017-03-09 00:00:00' '2017-03-10 00:00:00'
 '2017-03-07 00:00:00' '2017-03-12 00:00:00' '2017-03-13 00:00:00'
 '2017-03-14 00:00:00' '2017-03-01 00:00:00' '2017-03-18 00:00:00'
 '2017-03-17 00:00:00' '2017-03-24 00:00:00' '2017-03-22 00:00:00'
 '2017-03-26 00:00:00' '2017-03-27 00:00:00' '2017-03-11 00:00:00'
 '2017-03-28 00:00:00' '2017-03-29 00:00:00' '2017-03-30 00:00:00'
 '2017-03-31 00:00:00' '2017-03-19 00:00:00' '2017-01-22 00:00:00'
 '2017-04-02 00:00:00' '2017-03-20 00:00:00' '2017-04-03 00:00:00'
 '2017-01-08 00:00:00' '2017-03-23 00:00:00' '2017-04-05 00:00:00'
 '2017-03-15 00:00:00' '2017-04-07 00:00:00' '2017-03-25 00:00:00'
 '2017-04-08 00:00:00' '2017-04-06 00:00:00' '2017-03-21 00:00:00'
 '2017-04-04 00:00:00' '2017-04-10 00:00:00' '2017-02-05 00:00:00'
 '2017-04-01 00:00:00' '2017-04-11 00:00:00' '2017-04-13 00:00:00'
 '2017-04-15 00:00:00' '2017-04-12 00:00:00' '2017-03-04 00:00:00'
 '2017-04-19 00:00:00' '2017-04-22 00:00:00' '2017-04-20 00:00:00'
 '2017-05-02 00:00:00' '2017-04-09 00:00:00' '2017-04-23 00:00:00'
 '2017-04-24 00:00:00' '2017-04-16 00:00:00' '2017-04-28 00:00:00'
 '2017-04-18 00:00:00' '2017-04-26 00:00:00' '2017-04-25 00:00:00'
 '2017-04-17 00:00:00' '2017-04-21 00:00:00' '2017-05-03 00:00:00'
 '2017-05-04 00:00:00' '2017-03-16 00:00:00' '2017-05-05 00:00:00'
 '2017-04-29 00:00:00' '2017-04-14 00:00:00' '2017-05-08 00:00:00'
 '2017-04-27 00:00:00' '2017-05-01 00:00:00' '2017-05-10 00:00:00'
 '2017-05-13 00:00:00' '2017-05-06 00:00:00' '2017-05-14 00:00:00'
 '2017-05-16 00:00:00' '2017-04-30 00:00:00' '2017-05-15 00:00:00'
 '2017-05-07 00:00:00' '2017-05-09 00:00:00' '2017-05-17 00:00:00'
 '2017-05-21 00:00:00' '2017-05-12 00:00:00' '2017-05-22 00:00:00'
 '2017-05-24 00:00:00' '2017-05-23 00:00:00' '2017-05-25 00:00:00'
 '2017-05-11 00:00:00' '2017-05-26 00:00:00' '2017-05-28 00:00:00'
 '2017-05-27 00:00:00' '2017-05-29 00:00:00' '2017-05-31 00:00:00'
 '2017-05-20 00:00:00' '2017-06-01 00:00:00' '2017-05-30 00:00:00'
 '2017-06-02 00:00:00' '2016-11-26 00:00:00' '2017-06-04 00:00:00'
 '2017-06-06 00:00:00' '2017-06-07 00:00:00' '2017-05-18 00:00:00'
 '2017-06-09 00:00:00' '2017-06-10 00:00:00' '2017-06-11 00:00:00'
 '2017-05-19 00:00:00' '2017-06-12 00:00:00' '2017-06-14 00:00:00'
 '2017-06-16 00:00:00' '2017-06-13 00:00:00' '2017-06-08 00:00:00'
 '2017-06-03 00:00:00' '2017-06-05 00:00:00' '2017-06-24 00:00:00'
 '2017-06-20 00:00:00' '2017-06-19 00:00:00' '2017-06-21 00:00:00'
 '2017-06-26 00:00:00' '2017-06-27 00:00:00' '2017-06-22 00:00:00'
 '2017-06-28 00:00:00' '2017-06-29 00:00:00' '2017-06-30 00:00:00'
 '2017-06-18 00:00:00' '2017-07-04 00:00:00' '2017-07-08 00:00:00'
 '2017-07-03 00:00:00' '2017-07-07 00:00:00' '2017-07-01 00:00:00'
 '2017-07-06 00:00:00' '2017-07-11 00:00:00' '2017-07-12 00:00:00'
 '2017-06-23 00:00:00' '2017-07-13 00:00:00' '2017-06-15 00:00:00'
 '2017-07-02 00:00:00' '2017-07-10 00:00:00' '2017-07-14 00:00:00'
 '2017-07-15 00:00:00' '2017-07-16 00:00:00' '2017-07-18 00:00:00'
 '2017-07-17 00:00:00' '2017-07-19 00:00:00' '2017-07-20 00:00:00'
 '2017-07-05 00:00:00' '2017-06-25 00:00:00' '2017-06-17 00:00:00'
 '2017-07-24 00:00:00' '2017-07-26 00:00:00' '2017-07-09 00:00:00'
 '2017-07-28 00:00:00' '2017-07-31 00:00:00' '2017-07-29 00:00:00'
 '2017-07-22 00:00:00' '2017-08-02 00:00:00' '2017-08-01 00:00:00'
 '2017-08-03 00:00:00' '2017-08-04 00:00:00' '2017-07-21 00:00:00'
 '2017-07-27 00:00:00' '2017-07-25 00:00:00' '2017-07-23 00:00:00'
 '2017-08-09 00:00:00' '2017-08-10 00:00:00' '2017-07-30 00:00:00'
 '2017-08-07 00:00:00' '2017-08-13 00:00:00' '2017-08-14 00:00:00'
 '2017-08-08 00:00:00' '2017-08-16 00:00:00' '2017-08-05 00:00:00'
 '2017-08-17 00:00:00' '2017-08-15 00:00:00' '2017-08-18 00:00:00'
 '2017-08-20 00:00:00' '2017-08-22 00:00:00' '2017-08-06 00:00:00'
 '2017-08-26 00:00:00' '2017-08-23 00:00:00' '2017-08-11 00:00:00'
 '2017-08-27 00:00:00' '2017-08-21 00:00:00' '2017-08-29 00:00:00'
 '2017-08-31 00:00:00' '2017-08-12 00:00:00' '2017-08-19 00:00:00'
 '2017-08-25 00:00:00' '2016-01-31 00:00:00' '2017-09-01 00:00:00'
 '2017-08-28 00:00:00' '2015-04-03 00:00:00' '2015-01-21 00:00:00'
 '2015-01-28 00:00:00' '2015-01-29 00:00:00' '2015-01-30 00:00:00'
 '2015-02-02 00:00:00' '2015-02-05 00:00:00' '2015-02-09 00:00:00'
 '2015-02-10 00:00:00' '2015-02-11 00:00:00' '2015-02-12 00:00:00'
 '2015-02-19 00:00:00' '2015-02-20 00:00:00' '2015-02-23 00:00:00'
 '2015-02-24 00:00:00' '2015-02-25 00:00:00' '2015-02-26 00:00:00'
 '2015-02-27 00:00:00' '2015-03-03 00:00:00' '2015-03-04 00:00:00'
 '2015-03-06 00:00:00' '2015-03-09 00:00:00' '2015-03-12 00:00:00'

In [17]:
# Conclusiones parciales: 
    # Algunas fechas tienen formato fecha y hora '2015-06-10 00:00:00' y otras solo fecha '2023-04-31'
    # En el caso de las que tienen fecha y hora, la hora es siempre '00:00:00'
# filtrar filas que tienen el formato '2023-04-31' 

df_filtered = df[df['reservation_status_date'].str.match(r'^\d{4}-\d{2}-\d{2}$', na=False)]

In [18]:
# revisar columna 'reservation_status_date' del df filtrado
quick_check(df_filtered, 'reservation_status_date')

Column name: reservation_status_date

Data type: object

Not null count: 45

Null count: 0, 0%

Duplicated values: 0

Unique values:
['2030-02-30' '2030-11-31' '2029-04-31' '2030-06-31' '2030-09-31'
 '2025-02-30' '2029-11-31' '2023-06-31' '2029-06-31' '2029-02-30'
 '2022-09-31' '2024-09-31' '2028-04-31' '2024-06-31' '2025-11-31'
 '2026-09-31' '2027-09-31' '2023-11-31' '2028-09-31' '2028-02-30'
 '2026-06-31' '2024-04-31' '2023-04-31' '2025-04-31' '2027-04-31'
 '2022-06-31' '2024-02-30' '2025-09-31' '2027-02-30' '2030-04-31'
 '2023-09-31' '2027-06-31' '2026-11-31' '2028-11-31' '2028-06-31'
 '2026-04-31' '2022-11-31' '2025-06-31' '2029-09-31' '2023-02-30'
 '2026-02-30' '2022-04-31' '2022-02-30' '2027-11-31' '2024-11-31']

Value counts:
2030-02-30    1
2025-04-31    1
2022-06-31    1
2024-02-30    1
2025-09-31    1
2027-02-30    1
2030-04-31    1
2023-09-31    1
2027-06-31    1
2026-11-31    1
2028-11-31    1
2028-06-31    1
2026-04-31    1
2022-11-31    1
2025-06-31    1
2029-09-31    1
2023-02-30    1
2026-02-30    1
2022-04-31    1
2022-02-30    1
2027-11-31    1
2027-04-31    1
2023-04-31    1
2030-11-31    1
2024-04-31    1
2029-04-31    1
2030-06-31    1
2030-09-31    1
2025-02-30    1
2029-11-31    1
2023-06-31    1
2029-06-31    1
2029-02-30    1
2022-09-31    1
2024-09-31    1
2028-04-31    1
2024-06-31    1
2025-11-31    1
2026-09-31    1
2027-09-31    1
2023-11-31    1
2028-09-31    1
2028-02-30    1
2026-06-31    1
2024-11-31    1
Name: reservation_status_date, dtype: int64

In [19]:
# inspeccionar df filtrado 

df_filtered

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
313,Resort Hotel,False,90.0,NaN,July,29.0,12.0,2.0,5.0,2.0,...,5.0,NaN,0.0,NaN,117.22,0.0,1.0,Check-Out,2030-02-30,NaN
7646,Resort Hotel,True,165.0,NaN,August,34.0,18.0,0.0,3.0,2.0,...,240.0,NaN,0.0,Transient,222.00,0.0,0.0,Canceled,2030-11-31,NaN
9139,Resort Hotel,True,16.0,NaN,October,NaN,29.0,0.0,1.0,2.0,...,NaN,NaN,0.0,Transient,38.00,0.0,1.0,Canceled,2029-04-31,NaN
9493,Resort Hotel,True,183.0,NaN,December,NaN,3.0,2.0,1.0,2.0,...,38.0,NaN,0.0,NaN,72.00,0.0,0.0,Canceled,2030-06-31,NaN
18350,Resort Hotel,True,82.0,2016.0,2,7.0,7.0,2.0,0.0,2.0,...,67.0,NaN,0.0,NaN,86.00,0.0,0.0,Canceled,2030-09-31,NaN
21580,Resort Hotel,False,94.0,2016.0,March,10.0,4.0,2.0,2.0,51.0,...,6.0,NaN,0.0,Transient,4.00,0.0,2.0,Check-Out,2025-02-30,NaN
22854,Resort Hotel,False,7.0,2016.0,April,15.0,5.0,0.0,4.0,1.0,...,NaN,53.0,0.0,Transient,42.00,0.0,0.0,Check-Out,2029-11-31,NaN
24063,Resort Hotel,False,46.0,NaN,May,20.0,8.0,2.0,2.0,2.0,...,95.0,NaN,0.0,Transient,54.20,0.0,1.0,Check-Out,2023-06-31,NaN
24395,Resort Hotel,False,1.0,2016.0,May,21.0,19.0,0.0,1.0,1.0,...,NaN,NaN,0.0,Transient,42.00,0.0,0.0,Check-Out,2029-06-31,NaN
34886,Resort Hotel,False,25.0,2017.0,April,13.0,1.0,2.0,5.0,2.0,...,240.0,NaN,0.0,NaN,155.00,1.0,0.0,Check-Out,2029-02-30,NaN
35541,Resort Hotel,False,203.0,2017.0,April,17.0,25.0,0.0,2.0,2.0,...,502.0,NaN,0.0,Transient-Party,90.00,0.0,0.0,Check-Out,2022-09-31,NaN
41367,City Hotel,False,40.0,NaN,August,33.0,15.0,2.0,2.0,2.0,...,1.0,NaN,0.0,Transient-Party,62.00,0.0,0.0,Check-Out,2024-09-31,NaN
44568,City Hotel,False,34.0,2015.0,October,NaN,8.0,0.0,1.0,2.0,...,9.0,NaN,0.0,Contract,86.40,0.0,2.0,Check-Out,2028-04-31,NaN
48657,City Hotel,True,67.0,2016.0,3,13.0,26.0,2.0,1.0,3.0,...,83.0,NaN,0.0,NaN,100.81,0.0,1.0,Canceled,2024-06-31,NaN
48916,City Hotel,True,43.0,NaN,April,14.0,2.0,1.0,1.0,1.0,...,9.0,NaN,0.0,Transient,107.10,0.0,0.0,Canceled,2025-11-31,NaN
50821,City Hotel,True,113.0,NaN,May,20.0,9.0,1.0,3.0,50.0,...,9.0,NaN,0.0,NaN,89.25,0.0,0.0,Canceled,2026-09-31,NaN
51467,City Hotel,True,211.0,2016.0,May,21.0,20.0,0.0,2.0,2.0,...,6.0,NaN,111.0,Transient,100.00,0.0,0.0,Canceled,2027-09-31,NaN
53791,City Hotel,True,358.0,2016.0,June,NaN,30.0,0.0,2.0,2.0,...,1.0,NaN,0.0,Transient,62.00,0.0,0.0,Canceled,2023-11-31,NaN
55521,City Hotel,True,49.0,2016.0,August,34.0,15.0,1.0,2.0,2.0,...,9.0,NaN,0.0,Transient,152.10,0.0,0.0,Canceled,2028-09-31,NaN
62556,City Hotel,True,22.0,2017.0,1,2.0,14.0,2.0,2.0,2.0,...,9.0,NaN,0.0,NaN,82.88,0.0,0.0,Canceled,2028-02-30,NaN
63204,City Hotel,True,573.0,NaN,2,NaN,2.0,0.0,2.0,2.0,...,1.0,NaN,0.0,Transient,62.00,0.0,0.0,Canceled,2026-06-31,NaN
65957,City Hotel,True,32.0,2017.0,April,15.0,11.0,0.0,2.0,2.0,...,9.0,NaN,0.0,Transient,108.00,0.0,0.0,Canceled,2024-04-31,NaN
72373,City Hotel,True,172.0,2017.0,July,30.0,27.0,0.0,3.0,2.0,...,9.0,NaN,0.0,Transient,112.50,0.0,0.0,Canceled,2023-04-31,NaN
74397,City Hotel,True,290.0,2015.0,August,32.0,3.0,1.0,1.0,2.0,...,1.0,NaN,0.0,Contract,62.00,0.0,0.0,Canceled,2025-04-31,NaN
84676,City Hotel,False,18.0,2016.0,February,10.0,28.0,2.0,1.0,1.0,...,9.0,NaN,0.0,Transient,145.00,0.0,1.0,Check-Out,2027-04-31,NaN
85059,City Hotel,False,3.0,2016.0,3,11.0,8.0,0.0,1.0,1.0,...,NaN,NaN,0.0,Transient-Party,90.00,0.0,1.0,Check-Out,2022-06-31,NaN
100411,City Hotel,False,239.0,NaN,October,44.0,24.0,1.0,3.0,2.0,...,9.0,NaN,0.0,Transient,80.75,0.0,1.0,Check-Out,2024-02-30,NaN
101167,City Hotel,False,20.0,NaN,November,46.0,6.0,1.0,0.0,1.0,...,7.0,NaN,0.0,Transient,100.10,0.0,1.0,Check-Out,2025-09-31,NaN
109572,City Hotel,False,52.0,NaN,April,15.0,11.0,0.0,3.0,2.0,...,7.0,NaN,0.0,Transient,100.80,0.0,1.0,Check-Out,2027-02-30,NaN
110258,City Hotel,False,49.0,NaN,April,17.0,24.0,1.0,0.0,2.0,...,7.0,NaN,0.0,NaN,108.00,0.0,0.0,Check-Out,2030-04-31,NaN
121013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-31,0.0
122688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-06-31,NaN
124058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-11-31,Check-Out
126379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2028-11-31,Corporate
131036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2028-06-31,NaN
138971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-04-31,30/10/15
147148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-31,Direct
152300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-31,NaN
154884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2029-09-31,0.0
159155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-30,NaN
177526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-02-30,Transient
179002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-31,Check-Out
180857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-30,1.0
181291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-11-31,Offline TA/TO
182004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-11-31,NaN

In [20]:
# conocer la cantidad de filas que tiene el df filtrado

df_filtered.shape

(45, 32)

## Conclusiones 

- Todas las fechas del df filtrado (45) son erróneas ya que contienen días que no existen en el mes, como 31/09 o 30/02
- Además, hay varias que tienen años en el futuro
- Decisión: reemplazar las fechas por una categoría diferente parfa que no intervengan negativamente en el análisis

## Acciones de limpieza y transformación

1. Reemplazar los nulos con "0000-00-00"
2. Reemplazar las fechas erróneas con "0000-00-00"
3. Cambiar el formato de la columna a "datetime" (usar to datetime)

In [34]:
# 1.Reemplazar los nulos con "0000-00-00"

def imputar_fechas_nulas(df, columns):
        """ Dada una lista de columnas y un dataframe, esta función completa los nulos en las columnas con "0000-00-00".
        """
        # Iterar sobre la lista de columnas y reemplazar nulos por "0000-00-00"
        for column in columns:
            # verifica si la columna existe en el dataframe
            if column in df.columns:
                # Reemplaza los nulos con "0000-00-00"
                df[column] = df[column].fillna("0000-00-00")
            # si la columna no existe imprime un mensaje
            else:
                print(f"❌ La columna '{column}' no existe en el dataframe dado")
        return df

In [35]:
columns = ['reservation_status_date']
imputar_fechas_nulas(df, columns)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,...,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,...,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,...,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0000-00-00,NaN

In [38]:
quick_check(df, 'reservation_status_date')

Column name: reservation_status_date

Data type: object

Not null count: 182877

Null count: 0, 0%

Duplicated values: 181885

Unique values:
['2015-07-01 00:00:00' '2015-07-02 00:00:00' '2015-07-03 00:00:00'
 '2015-05-06 00:00:00' '2015-04-22 00:00:00' '2015-06-23 00:00:00'
 '2015-07-05 00:00:00' '0000-00-00' '2015-07-07 00:00:00'
 '2015-07-08 00:00:00' '2015-05-11 00:00:00' '2015-07-15 00:00:00'
 '2015-07-16 00:00:00' '2015-05-29 00:00:00' '2015-05-19 00:00:00'
 '2015-06-19 00:00:00' '2015-07-06 00:00:00' '2015-05-23 00:00:00'
 '2015-05-18 00:00:00' '2015-07-09 00:00:00' '2015-06-02 00:00:00'
 '2015-07-04 00:00:00' '2015-06-29 00:00:00' '2015-06-16 00:00:00'
 '2015-06-18 00:00:00' '2015-06-12 00:00:00' '2015-06-09 00:00:00'
 '2015-05-26 00:00:00' '2015-07-11 00:00:00' '2015-07-12 00:00:00'
 '2015-07-13 00:00:00' '2015-07-17 00:00:00' '2015-04-15 00:00:00'
 '2015-05-13 00:00:00' '2015-07-10 00:00:00' '2015-05-20 00:00:00'
 '2015-05-12 00:00:00' '2015-07-14 00:00:00' '2015-06-17 00:00:00'
 '2015-05-01 00:00:00' '2015-07-19 00:00:00' '2015-06-03 00:00:00'
 '2015-06-26 00:00:00' '2015-05-14 00:00:00' '2015-07-20 00:00:00'
 '2015-05-07 00:00:00' '2015-05-28 00:00:00' '2015-04-13 00:00:00'
 '2015-03-25 00:00:00' '2015-07-21 00:00:00' '2015-06-27 00:00:00'
 '2015-07-18 00:00:00' '2015-07-23 00:00:00' '2015-06-08 00:00:00'
 '2030-02-30' '2015-03-05 00:00:00' '2015-06-22 00:00:00'
 '2015-04-24 00:00:00' '2015-07-22 00:00:00' '2015-05-27 00:00:00'
 '2015-04-06 00:00:00' '2015-04-11 00:00:00' '2015-07-25 00:00:00'
 '2015-07-28 00:00:00' '2015-07-29 00:00:00' '2015-07-24 00:00:00'
 '2015-06-30 00:00:00' '2015-06-24 00:00:00' '2015-07-27 00:00:00'
 '2015-04-29 00:00:00' '2015-06-04 00:00:00' '2015-06-11 00:00:00'
 '2015-06-01 00:00:00' '2015-07-26 00:00:00' '2015-08-01 00:00:00'
 '2015-08-02 00:00:00' '2015-06-15 00:00:00' '2015-04-23 00:00:00'
 '2015-07-30 00:00:00' '2015-07-31 00:00:00' '2015-06-05 00:00:00'
 '2015-05-25 00:00:00' '2015-08-03 00:00:00' '2015-04-17 00:00:00'
 '2015-08-04 00:00:00' '2015-08-06 00:00:00' '2015-05-15 00:00:00'
 '2015-06-25 00:00:00' '2015-05-09 00:00:00' '2015-03-17 00:00:00'
 '2015-05-22 00:00:00' '2015-08-07 00:00:00' '2015-04-04 00:00:00'
 '2015-08-05 00:00:00' '2015-08-08 00:00:00' '2015-08-10 00:00:00'
 '2015-05-04 00:00:00' '2015-06-06 00:00:00' '2015-08-09 00:00:00'
 '2015-08-15 00:00:00' '2015-08-11 00:00:00' '2015-03-28 00:00:00'
 '2015-08-14 00:00:00' '2015-08-12 00:00:00' '2015-08-16 00:00:00'
 '2015-08-21 00:00:00' '2015-08-13 00:00:00' '2015-08-17 00:00:00'
 '2015-04-20 00:00:00' '2015-08-18 00:00:00' '2015-08-23 00:00:00'
 '2015-08-22 00:00:00' '2015-08-19 00:00:00' '2015-08-20 00:00:00'
 '2015-08-29 00:00:00' '2015-03-31 00:00:00' '2015-05-30 00:00:00'
 '2015-08-25 00:00:00' '2015-08-24 00:00:00' '2015-03-24 00:00:00'
 '2015-05-21 00:00:00' '2015-08-28 00:00:00' '2015-08-26 00:00:00'
 '2015-08-27 00:00:00' '2015-08-30 00:00:00' '2015-08-31 00:00:00'
 '2015-09-06 00:00:00' '2015-09-03 00:00:00' '2015-09-04 00:00:00'
 '2015-09-02 00:00:00' '2015-09-01 00:00:00' '2015-09-05 00:00:00'
 '2015-06-20 00:00:00' '2015-09-07 00:00:00' '2015-09-10 00:00:00'
 '2015-09-11 00:00:00' '2015-09-08 00:00:00' '2015-09-09 00:00:00'
 '2015-09-13 00:00:00' '2015-09-15 00:00:00' '2015-04-10 00:00:00'
 '2015-01-02 00:00:00' '2014-11-18 00:00:00' '2015-09-12 00:00:00'
 '2015-09-17 00:00:00' '2015-09-14 00:00:00' '2015-04-07 00:00:00'
 '2015-09-19 00:00:00' '2015-09-16 00:00:00' '2015-09-20 00:00:00'
 '2015-01-18 00:00:00' '2015-10-23 00:00:00' '2015-01-22 00:00:00'
 '2015-01-01 00:00:00' '2015-09-22 00:00:00' '2015-09-24 00:00:00'
 '2015-09-18 00:00:00' '2015-09-21 00:00:00' '2015-09-25 00:00:00'
 '2015-09-27 00:00:00' '2015-09-28 00:00:00' '2015-10-12 00:00:00'
 '2015-06-13 00:00:00' '2015-09-29 00:00:00' '2015-09-23 00:00:00'
 '2015-10-01 00:00:00' '2015-09-26 00:00:00' '2015-04-18 00:00:00'
 '2015-09-30 00:00:00' '2015-10-02 00:00:00' '2015-10-04 00:00:00'
 '2015-10-08 00:00:00' '2015-10-03 00:00:00' '2015-10-09 00:00:00'
 '2015-10-11 00:00:00' '2015-10-05 00:00:00' '2015-10-10 00:00:00'
 '2015-10-06 00:00:00' '2015-10-07 00:00:00' '2015-10-14 00:00:00'
 '2015-10-15 00:00:00' '2015-10-18 00:00:00' '2015-10-13 00:00:00'
 '2015-10-20 00:00:00' '2015-10-19 00:00:00' '2015-10-31 00:00:00'
 '2015-10-16 00:00:00' '2015-10-21 00:00:00' '2015-10-22 00:00:00'
 '2015-10-17 00:00:00' '2015-10-24 00:00:00' '2015-10-25 00:00:00'
 '2015-10-28 00:00:00' '2015-10-27 00:00:00' '2015-10-26 00:00:00'
 '2015-10-30 00:00:00' '2015-11-05 00:00:00' '2015-10-29 00:00:00'
 '2015-11-03 00:00:00' '2015-11-07 00:00:00' '2015-11-04 00:00:00'
 '2015-11-01 00:00:00' '2015-11-17 00:00:00' '2015-11-02 00:00:00'
 '2015-11-06 00:00:00' '2015-11-08 00:00:00' '2015-11-09 00:00:00'
 '2015-11-10 00:00:00' '2015-11-15 00:00:00' '2015-11-16 00:00:00'
 '2015-11-11 00:00:00' '2015-11-12 00:00:00' '2015-11-14 00:00:00'
 '2015-11-13 00:00:00' '2015-11-18 00:00:00' '2015-11-22 00:00:00'
 '2015-11-21 00:00:00' '2015-11-20 00:00:00' '2015-11-24 00:00:00'
 '2015-11-25 00:00:00' '2015-11-23 00:00:00' '2015-11-28 00:00:00'
 '2015-11-26 00:00:00' '2015-11-19 00:00:00' '2015-11-27 00:00:00'
 '2015-11-29 00:00:00' '2015-12-04 00:00:00' '2015-12-01 00:00:00'
 '2015-12-06 00:00:00' '2015-12-08 00:00:00' '2015-12-02 00:00:00'
 '2015-12-03 00:00:00' '2015-12-31 00:00:00' '2015-12-05 00:00:00'
 '2015-12-10 00:00:00' '2015-12-17 00:00:00' '2015-11-30 00:00:00'
 '2015-12-12 00:00:00' '2015-12-07 00:00:00' '2015-12-13 00:00:00'
 '2015-12-15 00:00:00' '2015-12-16 00:00:00' '2015-12-19 00:00:00'
 '2015-12-18 00:00:00' '2015-12-26 00:00:00' '2015-12-27 00:00:00'
 '2016-01-05 00:00:00' '2015-12-22 00:00:00' '2015-12-24 00:00:00'
 '2015-12-29 00:00:00' '2015-12-20 00:00:00' '2015-12-23 00:00:00'
 '2015-12-30 00:00:00' '2016-01-02 00:00:00' '2016-01-01 00:00:00'
 '2015-12-28 00:00:00' '2015-12-25 00:00:00' '2016-01-03 00:00:00'
 '2016-01-04 00:00:00' '2016-01-11 00:00:00' '2016-01-07 00:00:00'
 '2015-12-21 00:00:00' '2016-01-09 00:00:00' '2016-01-10 00:00:00'
 '2016-01-08 00:00:00' '2016-01-06 00:00:00' '2016-01-12 00:00:00'
 '2016-01-13 00:00:00' '2016-01-23 00:00:00' '2016-01-15 00:00:00'
 '2016-01-16 00:00:00' '2016-01-17 00:00:00' '2016-01-19 00:00:00'
 '2016-01-18 00:00:00' '2016-01-21 00:00:00' '2016-01-24 00:00:00'
 '2016-01-22 00:00:00' '2016-01-29 00:00:00' '2016-01-27 00:00:00'
 '2016-01-25 00:00:00' '2016-03-08 00:00:00' '2016-01-26 00:00:00'
 '2016-01-20 00:00:00' '2016-01-30 00:00:00' '2016-02-01 00:00:00'
 '2016-02-08 00:00:00' '2016-02-07 00:00:00' '2016-01-28 00:00:00'
 '2016-02-05 00:00:00' '2016-02-03 00:00:00' '2016-02-09 00:00:00'
 '2016-02-13 00:00:00' '2016-02-10 00:00:00' '2016-02-02 00:00:00'
 '2016-02-04 00:00:00' '2016-02-12 00:00:00' '2016-02-11 00:00:00'
 '2016-02-16 00:00:00' '2016-02-14 00:00:00' '2015-12-11 00:00:00'
 '2016-02-20 00:00:00' '2016-02-15 00:00:00' '2016-02-06 00:00:00'
 '2016-01-14 00:00:00' '2016-02-17 00:00:00' '2016-02-21 00:00:00'
 '2016-02-24 00:00:00' '2016-02-25 00:00:00' '2016-02-19 00:00:00'
 '2016-02-18 00:00:00' '2016-02-26 00:00:00' '2016-02-23 00:00:00'
 '2016-03-05 00:00:00' '2016-02-22 00:00:00' '2016-02-27 00:00:00'
 '2016-03-03 00:00:00' '2016-03-24 00:00:00' '2016-02-29 00:00:00'
 '2016-03-01 00:00:00' '2016-03-02 00:00:00' '2016-03-30 00:00:00'
 '2016-03-04 00:00:00' '2016-03-07 00:00:00' '2016-03-14 00:00:00'
 '2016-03-21 00:00:00' '2016-03-09 00:00:00' '2016-03-12 00:00:00'
 '2016-03-22 00:00:00' '2016-03-10 00:00:00' '2016-03-11 00:00:00'
 '2016-03-20 00:00:00' '2016-03-15 00:00:00' '2016-03-17 00:00:00'
 '2016-03-16 00:00:00' '2016-03-19 00:00:00' '2016-03-27 00:00:00'
 '2016-03-18 00:00:00' '2016-03-26 00:00:00' '2016-03-31 00:00:00'
 '2016-03-28 00:00:00' '2016-03-29 00:00:00' '2016-04-01 00:00:00'
 '2016-03-23 00:00:00' '2016-04-02 00:00:00' '2016-03-25 00:00:00'
 '2016-03-13 00:00:00' '2016-04-04 00:00:00' '2016-04-03 00:00:00'
 '2016-04-05 00:00:00' '2016-04-08 00:00:00' '2016-04-06 00:00:00'
 '2016-04-09 00:00:00' '2016-04-12 00:00:00' '2016-04-16 00:00:00'
 '2016-04-17 00:00:00' '2016-04-14 00:00:00' '2016-04-18 00:00:00'
 '2016-04-21 00:00:00' '2016-04-19 00:00:00' '2016-04-20 00:00:00'
 '2016-04-10 00:00:00' '2016-04-13 00:00:00' '2016-04-11 00:00:00'
 '2016-04-07 00:00:00' '2016-04-15 00:00:00' '2016-04-22 00:00:00'
 '2016-04-23 00:00:00' '2016-04-26 00:00:00' '2016-04-28 00:00:00'
 '2016-04-24 00:00:00' '2016-04-25 00:00:00' '2016-04-29 00:00:00'
 '2016-04-30 00:00:00' '2016-05-10 00:00:00' '2016-04-27 00:00:00'
 '2016-05-02 00:00:00' '2016-05-07 00:00:00' '2016-05-08 00:00:00'
 '2016-05-12 00:00:00' '2016-05-01 00:00:00' '2016-05-04 00:00:00'
 '2016-05-06 00:00:00' '2016-05-03 00:00:00' '2016-05-09 00:00:00'
 '2016-05-05 00:00:00' '2016-05-13 00:00:00' '2016-05-14 00:00:00'
 '2016-05-18 00:00:00' '2016-05-19 00:00:00' '2016-05-15 00:00:00'
 '2016-05-16 00:00:00' '2016-05-11 00:00:00' '2016-05-21 00:00:00'
 '2016-05-22 00:00:00' '2016-05-20 00:00:00' '2016-05-24 00:00:00'
 '2016-05-26 00:00:00' '2016-05-23 00:00:00' '2016-05-27 00:00:00'
 '2016-05-17 00:00:00' '2016-05-25 00:00:00' '2016-05-29 00:00:00'
 '2016-05-28 00:00:00' '2016-05-30 00:00:00' '2016-05-31 00:00:00'
 '2016-06-01 00:00:00' '2016-06-03 00:00:00' '2016-06-08 00:00:00'
 '2016-06-02 00:00:00' '2016-06-05 00:00:00' '2016-06-06 00:00:00'
 '2016-06-13 00:00:00' '2016-06-07 00:00:00' '2016-06-10 00:00:00'
 '2016-06-11 00:00:00' '2016-06-12 00:00:00' '2016-06-14 00:00:00'
 '2016-06-17 00:00:00' '2016-06-04 00:00:00' '2016-06-16 00:00:00'
 '2016-06-18 00:00:00' '2016-06-21 00:00:00' '2016-06-09 00:00:00'
 '2016-06-24 00:00:00' '2016-06-20 00:00:00' '2016-06-25 00:00:00'
 '2016-06-22 00:00:00' '2016-06-26 00:00:00' '2016-06-23 00:00:00'
 '2016-07-01 00:00:00' '2016-06-15 00:00:00' '2016-06-28 00:00:00'
 '2016-07-02 00:00:00' '2016-06-19 00:00:00' '2016-06-27 00:00:00'
 '2016-07-04 00:00:00' '2016-06-30 00:00:00' '2016-07-05 00:00:00'
 '2016-07-08 00:00:00' '2016-07-09 00:00:00' '2016-07-07 00:00:00'
 '2016-07-12 00:00:00' '2016-06-29 00:00:00' '2016-07-10 00:00:00'
 '2016-07-15 00:00:00' '2016-07-03 00:00:00' '2016-07-16 00:00:00'
 '2016-07-14 00:00:00' '2016-07-18 00:00:00' '2016-07-13 00:00:00'
 '2016-07-06 00:00:00' '2016-07-21 00:00:00' '2016-07-19 00:00:00'
 '2016-07-11 00:00:00' '2016-07-20 00:00:00' '2016-07-28 00:00:00'
 '2016-07-17 00:00:00' '2016-07-25 00:00:00' '2016-07-22 00:00:00'
 '2016-07-23 00:00:00' '2016-07-29 00:00:00' '2016-08-03 00:00:00'
 '2016-08-02 00:00:00' '2016-08-04 00:00:00' '2016-08-08 00:00:00'
 '2016-08-10 00:00:00' '2016-08-01 00:00:00' '2016-08-06 00:00:00'
 '2016-03-06 00:00:00' '2016-08-05 00:00:00' '2016-07-26 00:00:00'
 '2016-08-07 00:00:00' '2016-07-24 00:00:00' '2016-08-12 00:00:00'
 '2016-07-27 00:00:00' '2016-08-13 00:00:00' '2016-08-18 00:00:00'
 '2016-08-16 00:00:00' '2016-08-15 00:00:00' '2016-08-17 00:00:00'
 '2016-08-11 00:00:00' '2016-07-31 00:00:00' '2016-07-30 00:00:00'
 '2030-11-31' '2016-09-01 00:00:00' '2016-08-23 00:00:00'
 '2016-08-20 00:00:00' '2016-08-21 00:00:00' '2016-09-04 00:00:00'
 '2016-08-22 00:00:00' '2016-08-27 00:00:00' '2016-08-25 00:00:00'
 '2016-08-09 00:00:00' '2016-08-26 00:00:00' '2016-09-05 00:00:00'
 '2016-08-24 00:00:00' '2016-09-10 00:00:00' '2016-08-29 00:00:00'
 '2016-09-09 00:00:00' '2016-08-30 00:00:00' '2016-08-19 00:00:00'
 '2016-09-13 00:00:00' '2016-08-31 00:00:00' '2016-09-12 00:00:00'
 '2016-09-15 00:00:00' '2016-08-14 00:00:00' '2016-09-02 00:00:00'
 '2016-09-14 00:00:00' '2016-09-08 00:00:00' '2016-09-19 00:00:00'
 '2016-09-16 00:00:00' '2016-09-07 00:00:00' '2016-09-21 00:00:00'
 '2016-09-06 00:00:00' '2016-09-22 00:00:00' '2016-09-17 00:00:00'
 '2016-09-20 00:00:00' '2016-09-03 00:00:00' '2016-09-26 00:00:00'
 '2016-09-23 00:00:00' '2016-09-18 00:00:00' '2016-10-02 00:00:00'
 '2016-10-01 00:00:00' '2016-09-27 00:00:00' '2016-09-25 00:00:00'
 '2016-10-05 00:00:00' '2016-09-11 00:00:00' '2016-09-30 00:00:00'
 '2016-10-09 00:00:00' '2016-10-03 00:00:00' '2016-10-06 00:00:00'
 '2016-10-11 00:00:00' '2016-09-24 00:00:00' '2016-09-29 00:00:00'
 '2016-10-13 00:00:00' '2016-09-28 00:00:00' '2016-10-08 00:00:00'
 '2016-10-07 00:00:00' '2016-08-28 00:00:00' '2016-10-17 00:00:00'
 '2016-10-18 00:00:00' '2016-10-10 00:00:00' '2016-10-16 00:00:00'
 '2016-10-04 00:00:00' '2016-10-15 00:00:00' '2016-10-19 00:00:00'
 '2016-10-21 00:00:00' '2016-10-12 00:00:00' '2016-10-24 00:00:00'
 '2016-10-26 00:00:00' '2016-10-23 00:00:00' '2016-10-20 00:00:00'
 '2016-10-25 00:00:00' '2016-10-27 00:00:00' '2016-10-28 00:00:00'
 '2016-10-30 00:00:00' '2016-10-29 00:00:00' '2029-04-31'
 '2016-11-01 00:00:00' '2016-11-04 00:00:00' '2016-10-14 00:00:00'
 '2016-11-07 00:00:00' '2016-11-03 00:00:00' '2016-11-10 00:00:00'
 '2016-11-14 00:00:00' '2016-11-02 00:00:00' '2016-10-31 00:00:00'
 '2016-11-11 00:00:00' '2016-11-08 00:00:00' '2016-11-05 00:00:00'
 '2016-11-25 00:00:00' '2016-11-09 00:00:00' '2016-11-20 00:00:00'
 '2016-11-21 00:00:00' '2016-10-22 00:00:00' '2016-11-22 00:00:00'
 '2016-11-16 00:00:00' '2016-11-23 00:00:00' '2016-11-17 00:00:00'
 '2016-11-06 00:00:00' '2016-11-15 00:00:00' '2016-11-13 00:00:00'
 '2016-11-12 00:00:00' '2016-11-27 00:00:00' '2016-11-19 00:00:00'
 '2016-11-30 00:00:00' '2016-12-02 00:00:00' '2030-06-31'
 '2016-12-04 00:00:00' '2016-11-29 00:00:00' '2016-12-07 00:00:00'
 '2016-11-28 00:00:00' '2016-12-03 00:00:00' '2016-12-06 00:00:00'
 '2016-11-24 00:00:00' '2016-12-08 00:00:00' '2016-12-05 00:00:00'
 '2016-12-10 00:00:00' '2016-11-18 00:00:00' '2016-12-13 00:00:00'
 '2016-12-14 00:00:00' '2016-12-16 00:00:00' '2016-12-15 00:00:00'
 '2016-12-17 00:00:00' '2016-12-19 00:00:00' '2016-12-21 00:00:00'
 '2016-12-20 00:00:00' '2016-12-22 00:00:00' '2016-12-23 00:00:00'
 '2016-12-24 00:00:00' '2016-12-01 00:00:00' '2016-12-27 00:00:00'
 '2016-12-29 00:00:00' '2016-12-30 00:00:00' '2016-12-12 00:00:00'
 '2017-01-02 00:00:00' '2016-12-11 00:00:00' '2017-01-04 00:00:00'
 '2017-01-01 00:00:00' '2016-12-26 00:00:00' '2017-01-06 00:00:00'
 '2016-12-28 00:00:00' '2016-12-18 00:00:00' '2017-01-10 00:00:00'
 '2017-01-11 00:00:00' '2017-01-07 00:00:00' '2017-01-12 00:00:00'
 '2017-01-16 00:00:00' '2017-01-14 00:00:00' '2017-01-13 00:00:00'
 '2017-01-05 00:00:00' '2017-01-03 00:00:00' '2017-01-17 00:00:00'
 '2016-12-09 00:00:00' '2017-01-20 00:00:00' '2017-01-26 00:00:00'
 '2016-12-31 00:00:00' '2017-01-23 00:00:00' '2017-01-28 00:00:00'
 '2017-01-19 00:00:00' '2017-01-27 00:00:00' '2017-01-25 00:00:00'
 '2017-01-24 00:00:00' '2017-01-29 00:00:00' '2017-01-18 00:00:00'
 '2016-12-25 00:00:00' '2017-01-15 00:00:00' '2017-01-21 00:00:00'
 '2017-02-01 00:00:00' '2017-02-02 00:00:00' '2017-01-31 00:00:00'
 '2017-02-03 00:00:00' '2017-02-04 00:00:00' '2017-02-06 00:00:00'
 '2017-02-07 00:00:00' '2017-02-08 00:00:00' '2017-01-30 00:00:00'
 '2017-02-09 00:00:00' '2017-01-09 00:00:00' '2017-02-11 00:00:00'
 '2017-02-10 00:00:00' '2017-02-12 00:00:00' '2017-02-13 00:00:00'
 '2017-02-14 00:00:00' '2017-02-16 00:00:00' '2017-02-17 00:00:00'
 '2017-02-18 00:00:00' '2017-02-19 00:00:00' '2017-02-20 00:00:00'
 '2017-02-15 00:00:00' '2017-02-21 00:00:00' '2017-02-22 00:00:00'
 '2017-02-26 00:00:00' '2017-02-23 00:00:00' '2017-02-24 00:00:00'
 '2017-02-25 00:00:00' '2017-02-28 00:00:00' '2017-03-05 00:00:00'
 '2017-02-27 00:00:00' '2017-03-03 00:00:00' '2017-03-06 00:00:00'
 '2017-03-02 00:00:00' '2017-03-08 00:00:00' '2017-03-09 00:00:00'
 '2017-03-10 00:00:00' '2017-03-07 00:00:00' '2017-03-12 00:00:00'
 '2017-03-13 00:00:00' '2017-03-14 00:00:00' '2017-03-01 00:00:00'
 '2017-03-18 00:00:00' '2017-03-17 00:00:00' '2017-03-24 00:00:00'
 '2017-03-22 00:00:00' '2017-03-26 00:00:00' '2017-03-27 00:00:00'
 '2017-03-11 00:00:00' '2017-03-28 00:00:00' '2017-03-29 00:00:00'
 '2017-03-30 00:00:00' '2017-03-31 00:00:00' '2017-03-19 00:00:00'
 '2017-01-22 00:00:00' '2017-04-02 00:00:00' '2017-03-20 00:00:00'
 '2017-04-03 00:00:00' '2017-01-08 00:00:00' '2017-03-23 00:00:00'
 '2017-04-05 00:00:00' '2017-03-15 00:00:00' '2017-04-07 00:00:00'
 '2017-03-25 00:00:00' '2017-04-08 00:00:00' '2017-04-06 00:00:00'
 '2017-03-21 00:00:00' '2017-04-04 00:00:00' '2017-04-10 00:00:00'
 '2017-02-05 00:00:00' '2017-04-01 00:00:00' '2017-04-11 00:00:00'
 '2017-04-13 00:00:00' '2017-04-15 00:00:00' '2017-04-12 00:00:00'
 '2017-03-04 00:00:00' '2017-04-19 00:00:00' '2017-04-22 00:00:00'
 '2017-04-20 00:00:00' '2017-05-02 00:00:00' '2017-04-09 00:00:00'
 '2017-04-23 00:00:00' '2017-04-24 00:00:00' '2017-04-16 00:00:00'
 '2017-04-28 00:00:00' '2017-04-18 00:00:00' '2017-04-26 00:00:00'
 '2017-04-25 00:00:00' '2017-04-17 00:00:00' '2017-04-21 00:00:00'
 '2017-05-03 00:00:00' '2017-05-04 00:00:00' '2017-03-16 00:00:00'
 '2017-05-05 00:00:00' '2017-04-29 00:00:00' '2017-04-14 00:00:00'
 '2017-05-08 00:00:00' '2017-04-27 00:00:00' '2017-05-01 00:00:00'
 '2017-05-10 00:00:00' '2017-05-13 00:00:00' '2017-05-06 00:00:00'
 '2017-05-14 00:00:00' '2017-05-16 00:00:00' '2017-04-30 00:00:00'
 '2017-05-15 00:00:00' '2017-05-07 00:00:00' '2017-05-09 00:00:00'
 '2017-05-17 00:00:00' '2017-05-21 00:00:00' '2017-05-12 00:00:00'
 '2017-05-22 00:00:00' '2017-05-24 00:00:00' '2017-05-23 00:00:00'
 '2017-05-25 00:00:00' '2017-05-11 00:00:00' '2017-05-26 00:00:00'
 '2017-05-28 00:00:00' '2017-05-27 00:00:00' '2017-05-29 00:00:00'
 '2017-05-31 00:00:00' '2017-05-20 00:00:00' '2017-06-01 00:00:00'
 '2017-05-30 00:00:00' '2017-06-02 00:00:00' '2016-11-26 00:00:00'
 '2017-06-04 00:00:00' '2017-06-06 00:00:00' '2017-06-07 00:00:00'
 '2017-05-18 00:00:00' '2017-06-09 00:00:00' '2017-06-10 00:00:00'
 '2017-06-11 00:00:00' '2017-05-19 00:00:00' '2017-06-12 00:00:00'
 '2017-06-14 00:00:00' '2017-06-16 00:00:00' '2017-06-13 00:00:00'
 '2017-06-08 00:00:00' '2017-06-03 00:00:00' '2017-06-05 00:00:00'
 '2017-06-24 00:00:00' '2017-06-20 00:00:00' '2017-06-19 00:00:00'
 '2017-06-21 00:00:00' '2017-06-26 00:00:00' '2017-06-27 00:00:00'
 '2017-06-22 00:00:00' '2017-06-28 00:00:00' '2017-06-29 00:00:00'
 '2017-06-30 00:00:00' '2017-06-18 00:00:00' '2017-07-04 00:00:00'
 '2017-07-08 00:00:00' '2017-07-03 00:00:00' '2017-07-07 00:00:00'
 '2017-07-01 00:00:00' '2017-07-06 00:00:00' '2017-07-11 00:00:00'
 '2017-07-12 00:00:00' '2017-06-23 00:00:00' '2017-07-13 00:00:00'
 '2017-06-15 00:00:00' '2017-07-02 00:00:00' '2017-07-10 00:00:00'
 '2017-07-14 00:00:00' '2017-07-15 00:00:00' '2017-07-16 00:00:00'
 '2017-07-18 00:00:00' '2017-07-17 00:00:00' '2017-07-19 00:00:00'
 '2017-07-20 00:00:00' '2017-07-05 00:00:00' '2017-06-25 00:00:00'
 '2017-06-17 00:00:00' '2017-07-24 00:00:00' '2017-07-26 00:00:00'
 '2017-07-09 00:00:00' '2017-07-28 00:00:00' '2017-07-31 00:00:00'
 '2017-07-29 00:00:00' '2017-07-22 00:00:00' '2017-08-02 00:00:00'
 '2017-08-01 00:00:00' '2017-08-03 00:00:00' '2017-08-04 00:00:00'
 '2017-07-21 00:00:00' '2017-07-27 00:00:00' '2017-07-25 00:00:00'
 '2017-07-23 00:00:00' '2017-08-09 00:00:00' '2017-08-10 00:00:00'
 '2017-07-30 00:00:00' '2017-08-07 00:00:00' '2017-08-13 00:00:00'
 '2017-08-14 00:00:00' '2017-08-08 00:00:00' '2017-08-16 00:00:00'
 '2017-08-05 00:00:00' '2017-08-17 00:00:00' '2017-08-15 00:00:00'
 '2017-08-18 00:00:00' '2017-08-20 00:00:00' '2017-08-22 00:00:00'
 '2017-08-06 00:00:00' '2017-08-26 00:00:00' '2017-08-23 00:00:00'
 '2017-08-11 00:00:00' '2017-08-27 00:00:00' '2017-08-21 00:00:00'
 '2017-08-29 00:00:00' '2017-08-31 00:00:00' '2017-08-12 00:00:00'
 '2017-08-19 00:00:00' '2017-08-25 00:00:00' '2016-01-31 00:00:00'
 '2017-09-01 00:00:00' '2017-08-28 00:00:00' '2015-04-03 00:00:00'
 '2015-01-21 00:00:00' '2015-01-28 00:00:00' '2015-01-29 00:00:00'
 '2015-01-30 00:00:00' '2015-02-02 00:00:00' '2015-02-05 00:00:00'
 '2015-02-09 00:00:00' '2015-02-10 00:00:00' '2015-02-11 00:00:00'
 '2015-02-12 00:00:00' '2015-02-19 00:00:00' '2015-02-20 00:00:00'
 '2015-02-23 00:00:00' '2015-02-24 00:00:00' '2015-02-25 00:00:00'
 '2015-02-26 00:00:00' '2015-02-27 00:00:00' '2015-03-03 00:00:00'
 '2015-03-04 00:00:00' '2015-03-06 00:00:00' '2015-03-09 00:00:00'
 '2015-03-12 00:00:00' '2015-03-18 00:00:00' '2015-04-02 00:00:00'

In [ ]:
# 2. Reemplazar las fechas erróneas con "0000-00-00"